<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HOTEL ULEAM</title>
    <link rel="stylesheet" href="resources/css/estilos.css">
    <link rel="stylesheet" href="https:fonts.googleapis.com/css2?family=Chilanka&family=Sansita+Swashed&display=swap">
    <script src="https://kit.fontawesome.com/91d71729cc.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="resources/images/palma.png">


    <script type="text/javascript"> 

            function validar() { 
                nombre = document.getElementById("nombre").value;
                asunto = document.getElementById("asunto").value; 
                mensaje = document.getElementById("mensaje").value;

                if (nombre == null || nombre.length < 10 || /^\s+$/.test(nombre)){ 
                    alert("El campo de nombres no puede estar vacío o no es valido"); 
                    return false; 
                }

                else if(asunto == null || asunto.length < 10 || /^\s+$/.test(asunto)){ 
                    alert("El campo de asunto no puede estar vacío o no es valido"); 
                    return false; 
                }

                else if(mensaje == null || mensaje.length < 10 || /^\s+$/.test(mensaje)){ 
                    alert("El campo de mensaje no es valido ingrese mas de 10 caracteres"); 
                    return false; 
                }
                return true;
            } 
    </script>
    <style>      
    
    </style>
  </head>

  <body class="text-center">  
       <!--menu-->
    <div class="menu">
      <div class="header">
          <h1>Hotel Uleam</h1>
          <div class="navegador">
              <ul>
                  <li><a href="/">Inicio</a> <i class="fas fa-hotel"></i> </li>
                  <li><a href="habitaciones">Habitaciones</a> <i class="fas fa-bed"></i> </li>
                  <li><a href="login" class="a-login">Iniciar Sesión</a> <i class="fas fa-sign-in-alt"></i> </li> 
                  <li><a href="register" class="a-login">Registrarse</a> <i class="fas fa-door-open"></i> </li>           
              </ul>
          </div>
      </div>
      <h2>El hotel de tus sueños</h2>
      
  </div>

  <!--Seccion de servicios-->
  <div class="servicios">
      <h2>Servicios</h2>
      <div class="menu-servicios">
          <div class="bloques-servicios">
              <i class="fas fa-wifi"></i>
              <h4>WIFI GRATIS</h4>
              <hr>
              <p>Conectate en todo momento</p>
          </div>

          <div class="bloques-servicios">
              <i class="fas fa-concierge-bell"></i>
              <h4>SERVICIO AL CUARTO</h4>
              <hr>
              <p>No necesitas salir de tu cuarto</p>
          </div>

          <div class="bloques-servicios">
              <i class="fas fa-swimming-pool"></i>
              <h4>PISCINA</h4>
              <hr>
              <p>Disfruta nadando bajo el sol</p>
          </div>

          <div class="bloques-servicios">
              <i class="fas fa-parking"></i>
              <h4>ESTACIONAMIENTO</h4>
              <hr>
              <p>Amplio para todo tipo de vehiculos</p>
          </div>

          <div class="bloques-servicios">
              <i class="fas fa-utensils"></i>
              <h4>RESTAURANTE</h4>
              <hr>
              <p>Platos tipicos del País</p>
          </div>

          <!--Galeria-->
      </div>
      <div class="galeria"> 
          <h2>Galería</h2>
          <div class="imagenes">
              <img src="resources/images/foto1.jpg" alt="Habitación">
              <img src="resources/images/foto2.jpg" alt="Habitación">
              <img src="resources/images/foto3.jpg" alt="Piscina">
              <img src="resources/images/foto4.jpg" alt="piscina">
              <img src="resources/images/foto5.jpg" alt="Habitación">
              <img src="resources/images/foto6.jpg" alt="Hotel">
          </div>
      </div>
  </div>

  <!--formulario para eviar mensaje-->
  <div class="escribenos">
      <form class="contactos" action="/" method="POST" name= "validación" onsubmit= "return validar()">
          <h2> Escríbenos</h2>
          Tu nombre:<input id="nombre" type="text" name="nombre"  required maxlength="20"><br/>
          Tu correo: <input id="correo" type="email" name="correo" required><br/>
          Asunto:<input id="asunto" type="text" name="asunto" required maxlength="50"><br/>
          Mensaje:<br><textarea id="mensaje" name="mensaje" required maxlength="1000"></textarea><p> 
          <input type="submit" value="Enviar"><br/>
      </form>
  </div>

  <!--Pie de pagina-->
  <div class="footer">
      <div class="break">
          <div class="direccion">
              <h4>Dirección:</h4>
              <p>Av. Circunvalacion, Manta</p>
          </div>
          <div class="contacto">
              <h4>Contactos:</h4>
              <p>Tel: +593 998544663</p>
              <p>Email: Uleam@gamil.com</p>
          </div>
          <div class="sobre">
              <h4>Sobre nosotros:</h4>
              <p>Somos un hotel de calidad y profesionalismo. Contamos con habitaciones equipadas para ofrecer confort.</p>
          </div>
      </div>
      <div class="derechos">
          <h4>HOTEL ULEAM @ 2021</h4>
      </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


  <% if (typeof alert != "undefined")  { %>
    <script>
    Swal.fire({
      title:'<%= alertTitle %>',
      text:'<%= alertMessage %>',
      icon:'<%= alertIcon %>',
      showConfirmButton: <%= showConfirmButton %>,
      timer: <%= timer %>
    }).then(()=>{
      window.location=' /<%= ruta %>'
    })
    </script>
   <% } %>
  </div>

  </body>
</html>